.header{
    width: 100%;
    position: relative;
    top: 0;
    background-image: radial-gradient(circle, #0e5dd2, #006dda, #007ce1, #008ae7, #1298eb),url("../../img/overlay.png");
    background-position: 10%;
    overflow: hidden;

    &__section{
        @include inner;
        padding: 10rem 8rem 0rem 12rem;
        @include flex;
        justify-content: space-between;


        @include media(1177px){
            padding: 5rem 5rem 0 8rem;
        }

        @include media(1023px){
            padding: 3.99rem 1rem 0 1rem;
        }

        .hello{
            flex-basis: 30%;
            animation:moveInTop  0.7s linear;

            @include media(1023px){
                flex-basis: 100%;
            }

            h1{
                font-size: 11rem;
                line-height: 1rem;
                color: $secondry-color;
                line-height: 9rem;
                text-shadow: 10px;
                padding-bottom: 75px;

                span{
                    text-shadow: 0px 20px 25px rgba(0 ,0 ,0, .5);
                }

                @include media(1177px){
                    font-size: 10rem;
                    margin-top: 50px;
                }

                @include media(414px){
                    font-size: 8rem;
                    line-height: 7rem;
                }
             
            }

            .scroll-down{
                writing-mode:vertical-lr;
                color: $secondry-color;
                position: relative;
                bottom: 33px;
                font-weight: 500;
                text-decoration: none;
                animation: hanging 1s infinite;
            }
        }

        .programming{
            flex-basis: 65%;
            position: relative;
            bottom: -60px;
            animation: moveInRight 0.7s linear;

            img{
                width: 100%;
            }

            @include media(1177px){
                bottom: -137px;
            }

            @include media(1024px){
                bottom: -191px;
            }

            @include media(1023px){
                bottom: 0;
                flex-basis: 100%;
                padding: 0 1rem;
            }
        }
    }
}