.card{
        width: 90%;
        margin: 0 auto;
        background-color: white;
        box-shadow: -0.0625rem 0 0.625rem 0 rgba(0 ,0 ,0,.1), -0.0625rem 0 0.625rem 0 rgba(0,0, 0,.1);
        border-radius: 15px;
        padding: 1rem 0;
        text-align: center;

        &__img{
            width: 100%;
            border-radius: 50%;
            border:4px solid $secondry-color;
            position: relative;
            left: 40%;
            box-shadow: -0.0125rem 0 0.125rem 0 rgba(0 ,0 ,0,.1), 0.125rem .25rem 1.5rem 0 rgba(0,0, 0,.1); 

            @include media(360px){
                left: 113px;
            }
        }

        &__name{
            color: $tertiary-color;
            font-size: .9rem;
            margin: 3px 0px;
        }

        &__about{
            color: $tertiary-color;
            font-size: .8rem;
            font-weight: 700;
        }

        &__review{
            color: $fourth-color;
            font-size: .8rem;
            font-weight: 600;
            padding: 1rem;
        }
}