.skills{
    @include inner;
    padding: 0rem 8rem 0rem 12rem;
    @include flex;
    justify-content: space-between;
    align-items: center;

    @include media(1000px){
        padding: 0rem 5rem 0rem 5rem;
    }

    @include media(768px){
        padding: 0rem 1rem 0rem 1rem;
    }

    &__section{
        flex-basis: 45%;
        @include flex;
        justify-content: space-between;
        align-items: center;

        @include media(700px){
            flex-basis: 100%;
        }

        p{
            color: $primary-color;
            font-weight: 600;
        }

        .logo{
             display: inline-block;
             color: $primary-color;
             font-size: 1.7rem;
             margin-bottom: 5px;
        }

        .bars{
             width: 100%;
             background-color:rgb(240, 238, 238);
             height: 5px;
             margin-bottom: 20px;


             .bar{
                 width: 95%;
                 height: 5px;
                 background-color: $primary-color;

                 &-1{
                     width: 85%;
                 }

                 &-2{
                    width:70%;
                }

                &-3{
                    width: 88%;
                }

                &-4{
                    width: 50%;
                }
             }

        }
    }

    &__icon{
        width: 45%;
        text-align: center;

        @include media(700px){
            width: 100%;
        }

        .item-box .logo{
            color:  $primary-color;
            font-size: 15rem;

            @include media(540px){
                margin-top: 2rem;
            }
        }

    }
}