.about{
    overflow: hidden;
    @include inner;
    padding: 5rem 10rem 5rem 18rem;
    @include flex;
    justify-content: space-between;
    align-items: center;

    @include media(1177px){
        padding: 5rem 10rem 5rem 10rem;
    }

    @include media(900px){
        padding: 5rem 3rem 5rem 3rem;
    }

    @include media(768px){
        padding: 1rem 1rem 5rem 1rem;
    }
}

.skill{
    padding: 2rem 0;
    overflow: hidden;
}

.clone-section{
    overflow: hidden;
    @include inner;
    padding: 2rem 8rem 2rem 12rem;
    @include flex;
    justify-content: space-between;

    @include media(1000px){
        padding: 0rem 5rem 0rem 5rem;
    }

    @include media(768px){
        padding: 0rem 1rem 0rem 1rem;
    }
}

    .review{
        max-width: 500px;
        height: 300px;
        margin: 0 auto;

        img{
            width: 50px;
            height: 50px;
        }

        .owl-carousel .owl-item{
            padding: 10px 0px;
        }

        .owl-carousel .owl-item img {
              display: block;
              width: 80px;
              height: 80px;

        }
    }    

